# core
numpy
#pillow
#h5py
scikit-image
funcsigs
opencv-python
protobuf==3.20
moviepy
#seaborn
#torch==2.0.1
#torchvision==0.15.2
tensorboard==2.1.1
tensorboardX==2.0
gym==0.15.4
#pandas

# RL
wandb
mpi4py
mujoco_py==2.0.2.5

# Extras
absl-py
kornia
pathos
https://github.com/vicolab/ml-pyxis/archive/master.zip


# clustering reqs
antlr4-python3-runtime==4.9.3
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
filelock==3.12.2
fonttools==4.40.0
fsspec==2023.6.0
gdown==5.2.0
h5py==3.8.0
huggingface-hub==0.15.1
hydra-core==1.3.2
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
#numpy==1.23.5
omegaconf==2.3.0
packaging==23.1
pandas==1.5.3
Pillow==9.5.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
r3m @ git+https://github.com/facebookresearch/r3m.git@b2334e726887fa0206962d7984c69c5fb09cceab
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
scikit-learn
scikit-video==1.1.11
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
soupsieve==2.4.1
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
